
{% if all_sauces %}

        <h2>Choose your sauce</h2>

        <form action="{% url 'orders:pasta' %}" method="post">
            {% csrf_token %}
            <ul>
            {% for sauce in all_sauces %}
                <li>

                    <input type="submit" name="choosed_sauce" value="{{ sauce.name }}">

                    {{ sauce.price }}

                </li>
            {% endfor %}
            </ul>
        </form>

{% else %}
    <h3>No sauces available yet</h3>
{% endif %}
